<!DOCTYPE html>
{% extends 'ceapp/base.html' %}
{%block content%}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Валюта</th>
      <th>Курс продажи</th>
      <th>Курс покупки</th>
    </tr>
  </thead>
  <tbody>
    {% for money in money_list %}
      <tr>
      {%if money.name == 'EU'%}
        <td><a href="{%url 'list_eu'%}">{{ money.name}}</a></td>
      {%else%}
        <td><a href="{%url 'list_usd'%}">{{ money.name}}</a></td>
      {% endif %}
        <td>{{ money.course_buy}}</td>
        <td>{{ money.course_sell}}</td>
      {% endfor %}
  </tbody>
</table>
{%endblock%}

